@use '../styles' as *;

.service-section {
    margin: 90px auto;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    @include breakpoint(md) {
        margin: 60px auto;
    };
    
    .service-heading{
        width: 1200px;
        text-align: left;
        @include breakpoint(sm) {
            width: auto;
        }
    }

    .service-card-wrapper {
        max-width: 1200px;
        width: 100%;
        height: 250px;
        margin-top: $space-md;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include breakpoint(md) {
            overflow-x: scroll;
        }

        .service-card {
            padding: $space-lg $space-sm $space-md $space-md;
            border: 1px solid $secondary-color;
            max-width: 238px;
            border-radius: $space-sm;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            .icon {
                width: 26px;
                height: 26px;
                background-color: $secondary-color

            }
            h4{
                margin-block: $space-md $space-sm;
            }

            &.active{
                border: none;
                background-color: $secondary-color;

                .icon{
                    background-color: $bg-color

                }
            }
        }

    }
}