@use '../styles.scss' as *;
$values-card-padding: $space-lg $space-sm $space-md $space-md;


.values-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $space-xl 0;
    background-color: $bg-color;
    overflow: hidden;
    padding-left: $space-xxxl;
    padding-right: $space-sm;


    @include breakpoint(md) {
        padding-left: $space-xl;
    }

    @include breakpoint(sm) {
        padding-left: $space-sm;
    }

    .service-heading {
        margin-bottom: $space-md;
        width: 100%;
    }

    .values-card-wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: $space-sm;

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(md) {
            gap: $space-sm;
            flex-wrap: wrap;
        }

        @include breakpoint(sm) {
            width: 100%;
            gap: $space-sm;
        }

        .values-card {
            width: calc((100% - 45px) / 4);
            padding: $values-card-padding;
            border: 1px solid $secondary-color;
            border-radius: $space-sm;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            max-width: 325px;

            @include breakpoint(md) {
                width: calc((100% - 30px) / 3);

            }

            @include breakpoint(sm) {
                padding: $space-md;
                min-width: 220px;

            }

            .icon {
                width: 26px;
                height: 26px;
                font-size: 2rem;
                color: $primary-color;
            }

            h4 {
                margin-block: $space-md $space-sm;
            }

        }
    }
}